<link rel="preconnect" href="https://fonts.googleapis.com">
<section style="background-image: url('../../assets/images/schedule-bg.jpg') ;" class="coverAll">
    
    <div class="cover">
     <div >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 blackOut ">
                   <h1 class="heading-text"  style="font-family:  HeadingProTreble-Heavy,sans-serif;">
                    <span class="why">WHY</span>
                    <span class="basic-fit">BASIC-FIT</span>
                   </h1>
                   <p class="head-text lead" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consequatur iure quia et atque at quos nobis rerum ratione sapiente error ut quod, nam soluta voluptatibus excepturi eligendi esse ducimus!</p>
                </div>

            </div>

        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="row p-5">
            
            <div class="col-md-6 py-5">
                <h1 class="heading-text"  style="font-family:  HeadingProTreble-Heavy,sans-serif;">
                    <span class="basic-fit1">BASIC-FIT</span>
                    <span class="club">CLUBS</span>
                   </h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 ">
                    <p class="lead" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, temporibus asperiores totam dolore, iste esse, inventore veritatis et quasi vel fuga voluptas? Libero minima, nobis expedita quo officiis ratione beatae.</p>
                </div>
            <div class="col-md-5">
                <img src="../../assets/blog-3.jpg" class="w-100" alt="">
            </div>
        </div>
        </div>

    </div>
</section>

    