.coverAll
{
    
    background-size: cover;
    background-repeat: no-repeat;    
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.blackOut
{
    height: 100vh;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.5))
      
}
.why
{
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 200%;
    font-weight: 600;
    display: block;
}
.basic-fit
{
    font-size: 200%;
    font-weight: 600;
    display: block;
    color: white !important;
}
.head-text
{
color: white;
font-size: 110%;
font-weight: 400;
padding-left:15%;
}

.basic-fit1
{
    font-size: 80%;
    font-weight: 800;
    display: block;
    color: black !important;
}
.club
{
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 80%;
    font-weight: 800;
    display: block;
    
}
