<link rel="preconnect" href="https://fonts.googleapis.com">
<section [style.background-image]="'url(' +backImg + ')'" class="coverAll">
    
    <div class="cover">
     <div >
        <div class="container-fluid">
            <div class="row ">
                <div style="padding-top: 8%;" class="col-md-4  blackOut ">
                   <h1 class="heading-text p-5 pb-0"  style="font-family:  HeadingProTreble-Heavy,sans-serif;">
                    <span style="text-transform: uppercase ;" class="basic-fit">{{result.title}}</span>
                   </h1>
                   <p class="head-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{result.description}}</p>
                </div>

            </div>

        </div>
    </div>
</div>
</section>
<section>
    <div *ngFor="let exer of exercise">
    <div style="padding: 2%; padding-top: 8%; padding-bottom: 0%;" class="container ">
        <div class="row p-5">
            
            <div class="col-md-6">
                <h1 style="font-family:  HeadingProTreble-Heavy,sans-serif;">
                    <span style="text-transform: uppercase;" class="basic-fit1">{{exer.title}}</span>
                    <span class="club">{{exer.duration}}</span>
                   </h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 ">
                    <p class="lead" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{exer.description}}</p>
                </div>
            <div class="col-md-6">
                <img [src]="imageSource+exer.imagePath" class="w-100" alt="">
            </div>
        </div>
        <div  class="row py-5 ">
           <div *ngFor="let gif of exer.animationDataPath" class="col-md-4 col-sm-4">
            <div style=" position: relative; height:50vh; border-radius: 5px;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
             <img [src]="imageSource+gif" class="w-100 h-100" alt="">
             <!-- <div class="detail p-2">
                <h6>1400+ CLUBS</h6>
                <p style="float: right; font-weight: 400;">check it out <i style="color: red;" class="fa-solid fa-arrow-right-to-bracket"></i></p>
             </div> -->
            </div>
           </div>    
       
           
        </div>
    </div>
        
    </div>
</div>
</section>



