<section *ngIf="navShow==true" id="navbar" >
  <header style="top: 0;  right: 0; left: 0; z-index: 4;" class="position-absolute">
    <div class="container-fluid bg-dark">
       <div class="row">
         <div class="col-md-3 ">
             <div class="d-flex text-center justify-content-center py-4">  
              <h1 style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: red;z-index: 1;" class=" lead display-4">GYMSTAR</h1>
             </div>
         </div>
         <div class="col-md-9">
             <div style="background-color: cadetblue;" class="row">
                 <div class="col-md-6">
                    <div class="d-inline-flex p-2 ">
                     <p > <i class="fa-regular fa-envelope "></i> m01115626084&#64;gmail.com</p>
                     <p class=" ps-5"><i class="fa-solid fa-phone"></i> 01115626084</p>
                    </div>
                </div>
                 <div class="col-md-2"> </div>
                 <div class="col-md-4 text-end">
                  <div class="d-inline-flex align-items-center py-2">
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                 </div>
             </div>
             
              
                 <nav  class=" navbar navbar-expand-lg navbar-dark bg-dark p-3 p-lg-0 p-xl-3 ">
                    
                       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                       </button>
                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
                           <li *ngIf="isLogin" class="nav-item">
                             <a routerLinkActive="active" class="nav-link" aria-current="page" href="#">HOME PAGE</a>
                           </li>
                           <li *ngIf="isLogin" class="nav-item">
                             <a routerLinkActive="active" class="nav-link" href="/schedule">CLASSES SCHEDULE</a>
                           </li>
                           <li *ngIf="isLogin" class="nav-item">
                            <a routerLinkActive="active" class="nav-link" href="/trainers">TRAINERS</a>
                          </li>
                           <li *ngIf="isLogin" class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >PROGRAM</a>
                             <ul  class="dropdown-menu" style="background-color: rgba(0,0,0, 1);" aria-labelledby="navbarDropdown">
                               <li *ngFor="let prog of programs"><a class="dropdown-item" style="color: orange; cursor: pointer;"(click)="showProgram(prog.id)">{{prog.name}}</a></li>

                             </ul>
                           </li>
            
                         </ul>
                        
                           <button *ngIf="isLogin==false" style="z-index: 1;font-size: 90%;" class="glow p-3 " type="button" (click)="sign()">JOIN US</button>
                           <button *ngIf="isLogin==true" style="z-index: 1;font-size: 90%;" (click)="logOut()" class="glow p-3 " type="button">Log Out</button>
                       </div>
                   </nav>
            </div>
         </div>
    </div>
  </header>
 </section>