<section id="navbar">
  <header style="top: 0;  right: 0; left: 0;" class="position-fixed">
    <div class="container-fluid bg-dark">
       <div class="row">
         <div class="col-md-3 ">
             <div class="d-flex text-center justify-content-center py-4">  
              <h1 style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: red;z-index: 1;" class=" lead display-4">GYMSTAR</h1>
             </div>
         </div>
         <div class="col-md-9">
             <div style="background-color: cadetblue;" class="row">
                 <div class="col-md-6">
                    <div class="d-inline-flex p-2 ">
                     <p > <i class="fa-regular fa-envelope "></i> m01115626084&#64;gmail.com</p>
                     <p class=" ps-5"><i class="fa-solid fa-phone"></i> 01115626084</p>
                    </div>
                </div>
                 <div class="col-md-2"> </div>
                 <div class="col-md-4 text-end">
                  <div class="d-inline-flex align-items-center py-2">
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle me-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-light btn-square rounded-circle" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                 </div>
             </div>
             
              
                 <nav class=" navbar navbar-expand-lg navbar-dark bg-dark p-3 p-lg-0 p-xl-3">
                    
                       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                       </button>
                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                           <li class="nav-item">
                             <a  class="nav-link active" aria-current="page" href="#">HOME</a>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link" href="#">ABOUT</a>
                           </li>
                           <li class="nav-item">
                            <a class="nav-link" href="#">CLASSES</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">TRAINERS</a>
                          </li>
                           <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               PAGES
                             </a>
                             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <li><a class="dropdown-item" href="#">Blog Grid</a></li>
                               <li><a class="dropdown-item" href="#">Blog Details</a></li>
                               <li><hr class="dropdown-divider"></li>
                               <li><a class="dropdown-item" href="#">testimonial</a></li>
                             </ul>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link " href="#">CONTACT</a>
                           </li>
                         </ul>
                         <form class="d-flex">
                           <button style="z-index: 1;font-size: 75%;" class="btn btn-warning p-3 me-5" type="button">JOIN US</button>
                         </form>
                       </div>
                   </nav>
            </div>
         </div>
    </div>
  </header>
 </section>