<div *ngIf="isLogin" class="container-fluid py-5 backg">
    <div class="mb-5 pt-5 text-center">
        <h1 style="font-size: 300%; font-weight: 700;" class="text-danger text-uppercase pt-5">our trainers</h1>
        <img src="../../assets/images/line-dec.png" alt="">
    </div>
    <div class="row g-5">
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="../../assets/team-1.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">John Deo</h5>
                    <p class="text-uppercase text-secondary m-0">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="../../assets/team-2.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">James Taylor</h5>
                    <p class="text-uppercase text-secondary m-0">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="../../assets/team-3.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">Adam Phillips</h5>
                    <p class="text-uppercase text-secondary m-0">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="../../assets/team-4.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">shakira</h5>
                    <p class="text-uppercase text-secondary m-0">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="../../assets/team-5.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mahmoud-khaled-1524941ba/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">Nancy</h5>
                    <p class="text-uppercase text-secondary m-0">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="../../assets/team-6.jpg" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.linkedin.com/in/mohamed-afifi-739baa159/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">Polivard allis</h5>
                    <p class="text-uppercase text-secondary m-0">Trainer</p>
                </div>
            </div>
        </div>
    </div>
</div>