<section *ngIf="isLogin" class="backg">
<div  class="blackOut container pt-5 p-4">
    <div class="mb-5 text-center pt-5">
        <h1 style="font-weight: 700; color: aqua;" class="display-3 text-uppercase mb-0 pt-5">Working Hours</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white active" (click)="sendData('monday')" data-bs-toggle="pill" href="#tab-1">Monday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" (click)="sendData('tuesday')" data-bs-toggle="pill" href="#tab-2">Tuesday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" (click)="sendData('wednesday')" href="#tab-3">Wednesday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" (click)="sendData('thursday')" href="#tab-4">Thursday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" (click)="sendData('friday')" href="#tab-5">Friday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" (click)="sendData('saturday')" href="#tab-6">Saturday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" (click)="sendData('sunday')" href="#tab-7">Sunday</a>
            </li>
        </ul>
        <div class="tab-content">
            <div  id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    </div>
            </div>
            <div id="tab-3" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="tab-4" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="tab-5" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="tab-6" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="tab-7" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div *ngFor="let time of timing" class="col-lg-4 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{time.timeSession}}</h6>
                            <h5 style="color: red;" class="text-uppercase ">{{time.programName}}</h5>
                            <p class="text-uppercase text-secondary mb-0">{{time.coach}}</p>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
</div>

</section>